.login {
  h1 {
    margin-top: 0;
  }
  background: linear-gradient(to bottom, #eeffff, #ffffff);
  color: color("base");
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  form {
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: #ffffff;
    min-width: 360px;
    margin: 100px auto;
    padding: 45px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.1);
    transition: all 200ms;
  }

  input {
    width: 300px;
    margin: 0 0 10px;
    font-size: 14px;
  }
  img {
    width: 500px;
    transform: scale(1.19);
    margin: 45px 0 55px 0;
  }
  button {
    width: 100%;
    max-width: 300px;
  }

  summary {
    margin: 0 auto;
    width: 300px;
  }

  .get-info-link {
    display: inline;
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    color: #2582e7;
    text-decoration: none;
    cursor: pointer;
  }

  .how-get-api {
    text-align: left;
  }
}
