.preview-report {
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 5px 0;
  display: grid;
  grid-template-columns: 65% 10% 1fr 50px;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
  cursor: pointer;

  &__selected {
    background-color: #444;
    border: 1px solid #444;
    color: white;
  }

  &:hover {
    border: 1px solid #444;
  }

  &__duration {
    text-align: center;
  }
  p {
    margin: 0;
  }

  &__selected &__delete {
    filter: invert(100%);
  }
  &__delete {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 20px;
    color: #222;
    border: none;
    position: absolute;
    right: 2px;
    top: 2px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
