.preview-report {
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 5px 0;
  display: grid;
  grid-template-columns: 65% 10% 1fr 50px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &.article_selected {
    background-color: #444;
    border: 1px solid #444;
    color: white;
  }

  &:hover {
    border: 1px solid #444;
  }

  .duration {
    text-align: center;
  }
  p {
    margin: 0;
  }
}
