.report-editor {
  textarea {
    width: 100%;
    height: 150px;
  }
  span {
    min-width: 100px;
    display: block;
  }
  &_time {
    width: 70px;
  }

  &_time + i {
    padding: 0 10px 0 5px;
  }
  select {
    width: 100%;
  }

  .button-color-fail {
    float: right;
  }
  &_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .date-picker {
    & > div,
    input {
      width: 100%;
    }
  }
}
