.reportEditor {
  textarea {
    width: 100%;
    height: 150px;
  }
  span {
    min-width: 100px;
    display: inline-block;
  }
  .time {
    width: 70px;
  }

  .time + i {
    padding-right: 10px;
  }
  select {
    width: 100%;
  }

  .button-color-fail {
    float: right;
  }
  .row {
    display: block;
    display: flex;
  }
  .row-category {
    justify-content: space-between;
  }
  .row label {
    width: calc(33.333% - 15px);
  }
  .date-picker {
    padding-right: 15px;
  }
}
