.report-editor {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  &__main-text {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  textarea {
    width: 100%;
    height: 150px;
  }
  span {
    min-width: 100px;
    display: block;
  }
  &_time {
    width: 70px;
  }
  &_buttons {
    grid-column-start: 1;
    grid-column-end: 4;
    button + button {
      margin-left: 5px;
    }
  }
  &_time-container {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  &_time + i {
    padding: 0 10px 0 5px;
  }
  select {
    width: 100%;
  }

  .button-color-fail {
    float: right;
  }

  .date-picker {
    & > div,
    input {
      width: 100%;
    }
  }
}
