.reportEditor textarea {
  width: 100%;
  height: 150px;
}
.reportEditor span {
  min-width: 100px;
  display: inline-block;
}
.reportEditor .time {
  width: 70px;
}

.reportEditor .time + i {
  padding-right: 10px;
}
.reportEditor select {
  width: 100%;
}

.reportEditor .button-color-fail {
  float: right;
}
.reportEditor .row {
  display: block;
  display: flex;
}
.reportEditor .row-category {
  justify-content: space-between;
}
.reportEditor .row label {
  width: calc(33.333% - 15px);
}
.reportEditor .date-picker {
  padding-right: 15px;
}
